@charset "UTF-8";

body {
    background-image: url(media/white-pattern.png);
}

main {
    position: relative;
    margin-left: auto;
    margin-right: auto;


    width: 800px;
    padding: 30px;

    background-color: rgb(68, 30, 105);
    color: white;
}

h1 {
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 5px;
}

h2 {
    background-color: rgb(41, 18, 63);
    width: fit-content;
    padding: 5px;
}

mark {
    color: rgb(41, 18, 63);
    background-color: white;
    font-weight: bolder;
    padding: 0px 2px;
    margin: 2px;
}

.bold {
    font-weight: bolder;
}

.imagem-reduzida {
    width: 500px;
}
